In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
data = pd.read_csv('radar_parameters.csv')
data.head()

,Unnamed: 0,Zh (dBZ),Zdr (dB),Ldr (dB),Kdp (deg km-1),Ah (dBZ/km),Adr (dB/km),R (mm/hr)
0,0,23.144878,0.418637,-41.757733,0.005395,0.000290,0.000012,2.393520
1,1,22.737156,0.322850,-43.772069,0.005194,0.000360,0.000012,3.502699
2,2,26.869826,0.330948,-43.577399,0.013385,0.000903,0.000030,8.627561
3,3,28.540561,0.399480,-42.139731,0.018872,0.001036,0.000043,8.424447
4,4,30.500127,0.543758,-39.763087,0.027438,0.001157,0.000064,8.189291

In [3]:
Z = (10**data['Zh (dBZ)'])**(1/10) #solve for Z from dBz using dBZ = 10log(Z) 
R_base = (Z/200)**(1/1.6) #solve for baseline rain rate using Z = 200R**1.6

In [4]:
#add those columns to dataframe to ensure they line up with the proper index when we split the data later
data['R_base'] = R_base
data['Z'] = Z

In [5]:
data.head(2)

,Unnamed: 0,Zh (dBZ),Zdr (dB),Ldr (dB),Kdp (deg km-1),Ah (dBZ/km),Adr (dB/km),R (mm/hr),R_base,Z
0,0,23.144878,0.418637,-41.757733,0.005395,0.00029,0.000012,2.393520,1.019556,206.294563
1,1,22.737156,0.322850,-43.772069,0.005194,0.00036,0.000012,3.502699,0.961454,187.808651

In [6]:
# Create feature matrix and target array
features = data.drop('R (mm/hr)', axis=1)

target = data['R (mm/hr)']

1) Split the data into 70-30 chunks for training and testing

In [7]:
Ftrain, Ftest, Ttrain, Ttest = train_test_split(features, target,
                                                random_state=1)

In [8]:
Ftrain.head(1)

,Unnamed: 0,Zh (dBZ),Zdr (dB),Ldr (dB),Kdp (deg km-1),Ah (dBZ/km),Adr (dB/km),R_base,Z
4116,4116,41.956799,1.550639,-31.883942,0.22322,0.003664,0.000647,15.281156,15692.059091

In [9]:
#Separate R baseline and calculated Z values from the feature matrices for training and testing sets
#so they are not taken into account for the linear regression
R_base_train = Ftrain['R_base']
Ftrain_new = Ftrain.drop(['R_base', 'Z'], axis=1)
R_base_test = Ftest['R_base']
Ftest_new = Ftest.drop(['R_base', 'Z'], axis=1)

2) Train/validate a linear regression model using data from 1 and compare R2 and RMSE values for the model vs. test target values and baseline rain rate calculation vs. test target values to see which predicts the target values better.

In [10]:
from sklearn.linear_model import LinearRegression #choose model class

model = LinearRegression(fit_intercept=True) #instantiate model

model.fit(Ftrain_new, Ttrain) #fit model to data

lin_pred = model.predict(Ftest_new)

In [13]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

lin_r2 = r2_score(lin_pred, Ttest) #calculate R2 between target test data and model
base_r2 = r2_score(R_base_test, Ttest) #calculate R2 between baseline prediction equation and model
lin_RMSE = mean_squared_error(lin_pred, Ttest,  squared=False)
base_RMSE = mean_squared_error(R_base_test, Ttest, squared=False)

print('Model R2 = ',lin_r2)
print('Baseline prediction calculation R2 = ',base_r2)
print('Model RMSE = ', lin_RMSE) 
print('Baseline prediction calculation RMSE = ', base_RMSE)

Model R2 =  0.9905267626588338
Baseline prediction calculation R2 =  0.2249639377726802
Model RMSE =  0.8817146505998322
Baseline prediction calculation RMSE =  7.06713305880775

Based on the score values, the model did a much better job predicting the target values than a baseline rain rate calculation